<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="../models.js"></script>
  </head>
  <body>
    <h1>The name of our site is <%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
